.service__container{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    gap:2rem
}

.service{
    background: var(--color-bg-varient);
    padding: 2rem;
    border-radius: 3rem;
    border:1px solid transparent;
}

.service:hover{
    background-color: transparent;
    border-color: var(--color-bg-varient);   
    transition: var(--transition);
}

.service > p{
    padding-top: 0.5rem;
    text-align: left;
}

.service__content__icon{
    font-size: 0.8rem;
    margin-right:0.5rem ;
}

.service:nth-child(2){
    margin-bottom: -2rem;
    margin-top:-2rem
}